{{define "nav"}}
	<nav>
		<ul>
			<li><a href="/" {{if eq .Name "Home" }}class="active"{{end}}>Home</a></li>
			<li><a href="/contact" {{if eq .Name "Contact" }}class="active"{{end}}>Contact</a></li>
		</ul>
	</nav>
{{end}}
