{{define "layout"}}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Andy's Unemployment - {{template "title" .}}</title>
	</head>
	<body>
    {{template "main" .}}
	</body>
	</html>
{{end}}