main {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-evenly;
	flex-wrap: wrap-reverse;

	margin: auto;
	width: 70%;
	height: 100%;

	@media (1600px <= width < 2600px) {
		width: 50%;
	}

	@media (width >= 2600px) {
		width: 30%;
	}

	@media (width >= 1280px) {
		flex-wrap: nowrap;
	}
}

#headshot {
	height: 400px;
	width: 400px;
}
