:root {
	--peach: #efbc9bff;
	--pumpkin: #fc7a1e;
	--mint: #59c9a5ff;
	--dim-gray: #696773ff;
	--lapis-lazuli: #41658aff;
	--byzantium: #820263ff;
	--night: #0d160bff;
	--oxford-blue: #0c1b33ff;

	background-color: var(--mint);
	color: var(--oxford-blue);

	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	margin: 0;
	text-align: justify;
}

main {
	margin: auto;
	width: 70%;
	height: 100%;

	@media (1600px <= width < 2600px) {
		width: 50%;
	}

	@media (width >= 2600px) {
		width: 30%;
	}

	@media (width >= 1280px) {
		flex-wrap: nowrap;
	}
}

h1, h2, h3 {
	text-align: center;
}

a:link {
	color: var(--lapis-lazuli);
}

a:visited {
	color: var(--byzantium);
}

a:hover {
	color: var(--pumpkin);
}

nav {
	margin: 0 2em;
	menu {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: right;
		width: 100%;
		column-gap: 2em;
	}

	.active {
		text-decoration: none;
	}

	a.active, a.active:hover {
		color: var(--lapis-lazuli)
	}
}
